@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
}

main{
    flex: 1;
}

header > h1{
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 4em;
}

header p{
    color: white;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}

.imagem{
    background-color: rgb(80, 80, 80);;
}

.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: gray;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}