@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #034159, #025951, #02735E, #038C3E, #0CF25D);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #021d28a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #034159;
    text-align: center;
}

h2{
    color: #0CF25D;
    text-shadow: 1px 1px 2px #056125e8;
}

p{
    text-align: justify;
}