body{
    background-color: rgb(111, 240, 240);
}

h1{
    color: brown;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

h2{
    background-color: blueviolet;
}
